/* ======simplebar====== */
.simplebar-scrollbar::before {
    background-color: rgba(17, 23, 93, 0.5) !important;
}

/* ======my_btn====== */
.my_btn {
    position: relative;
    border: 2px solid #5F35F5;
    background: #5F35F5;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 1px 8px;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.my_btn:hover {
    color: #11175D;
}

.my_btn::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: #ffffff;
    z-index: -1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.my_btn:hover:after {
    width: 100%;
    left: 0;
    right: unset;
}

/* ======Toastify====== */
.Toastify__toast-body {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 12px 5px !important;
}

.Toastify__toast-theme--colored {
    background: #5F35F5 !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .4) !important;
}

.Toastify__progress-bar {
    background: linear-gradient(45deg, #04f004, #ecf004, #f03304);
}

.Toastify__close-button {
    display: none;
}

/* ======audio recorder====== */
.audio-recorder {
    box-shadow: none !important;
    background: transparent !important;
    /* width: 50px !important; */
}

.audio-recorder-mic {
    height: 20px !important;
    opacity: 0;

}

.recording .audio-recorder-mic {
    opacity: 1 !important;
}

.recording {
    border: 1px solid #bbb9b9;
    background: #ebebeb !important;
    margin-right: 8px;
    width: 225px !important;
}

/* audio tag */
/* audio::-webkit-media-controls-panel {
    background-color: #04f004;
} */

/* ======emoji====== */
@media (max-width:767px) {
    .EmojiPickerReact {
        width: 280px !important;
        height: 350px !important;
    }
}

@media (min-width:1024px) and (max-width:1279px) {
    .EmojiPickerReact {
        width: 280px !important;
        height: 350px !important;
    }
}